@model IEnumerable<Blog>

<div class="bg-primary m-1 p-1 text-white"><h4>Blog Listing</h4></div>

@if (Model.Count() == 0)
{
  <p>There are no blogs</p>
}
else
{
  <ul>
    @foreach (Blog blog in Model)
    {
      <li>
        @blog.Name | <a asp-action="DeleteBlog" asp-route-id="@blog.BlogId">Delete</a>
      </li>
    }
  </ul>
}
<hr />
<a asp-action="AddBlog">New Blog</a>
